header{
    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 48px;

        .nav-logo {
            
            img{
                max-width: 64px;
                max-height: 64px;

                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        
        .nav-menu{
            .menu{
                display: flex;
                align-items: center;
                gap: 24px;
                list-style: none;
                padding: 0px;
                font-weight: 600;
                li{
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}